<header class="relative bg-[{{ settings.background_color }}] w-full h-40 flex flex-col items-center">
    <nav class="w-full h-14 bg-black text-white flex items-center justify-between">
        <h1 class="text-3xl ml-5">{{ shop.name }}</h1>
        <ul class="relative nav-menu flex justify-around items-center w-1/2 text-white tracking-widest">

            {% for link in linklists.main-menu.links %}
                {% if link.links != blank %}
                <div class="relative flex flex-col">
                <li data-link="{{ link.title }}" class="dropdown-link flex items-center text-white cursor-pointer">
                    <p>{{ link.title }}</p>
                    {% render 'icon-dropdown' %}
                </li>
                <ul data-dropdown="{{ link.title }}" class="dropdown hidden absolute flex-col w-60 top-5 bg-black p-5 rounded">
                {% for childlink in link.links %}
                    <li><a href="{{ childlink.url }}" class="hover:text-green-500">{{ childlink.title }}</a></li>
                {% endfor %}
                </ul>
                </div>
                {% else %}
                <li><a href={{ link.url }} class="text-white hover:text-green-500">{{ link.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="flex items-center">
            <a href="#" class="mr-5">
                {% render 'icon-shopping-bag' %}
            </a>
        </div>
    </nav>
</header>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "mobile_menu_title",
            "default": "Menu",
            "label": "Mobile Menu Title"
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading Navigation Menu"
        }
    ]
}
{% endschema %}